<?xml version="1.0" encoding="UTF-8"?>
<!--
  WiX fragment: adds the install directory to the user PATH environment
  variable so that the `vshell` CLI is accessible from any terminal after
  MSI installation.  Removed automatically on uninstall (Permanent="no").
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="VshellPathEnv" Guid="B7E3A1F0-9C42-4D8B-A6E5-1F0B3C7D9E2A">
        <RegistryValue
          Root="HKCU"
          Key="Software\VibeShell"
          Name="PathConfigured"
          Type="integer"
          Value="1"
          KeyPath="yes" />
        <Environment
          Id="VshellPath"
          Name="PATH"
          Value="[INSTALLDIR]"
          Permanent="no"
          Part="last"
          Action="set"
          System="no" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="VshellPathEnvGroup">
      <ComponentRef Id="VshellPathEnv" />
    </ComponentGroup>
  </Fragment>
</Wix>
